body {
    overflow: hidden;
    /*Başlanğıçta Taşmaları Önleme */
}

* {
    font-family: "Open Sans", sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}