body {
    overflow: hidden;
    /*Başlanğıçta Taşmaları Önleme */
}

* {
    font-family: "Open Sans", sans-serif;
}

/* header start */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.navbar-container {
    max-width: 1440px;
    margin: 0 auto;
    /* yukarı aşağı 0 ,sağ sol auto Geniş ekranda taşma olmayacak ve ortalayacak.*/
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FA0050;
    text-decoration: none;
    font-style: italic;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-outline {
    padding: 8px 14px;
    border: 1px solid #FA0050;
    border-radius: 8px;
    color: #FA0050;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
}

.btn-outline:hover {
    background-color: #f8d7af;
}

.btn-fill {
    padding: 8px 14px;
    border-radius: 8px;
    background-color: #FA0050;
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
}

.btn-fill:hover {
    border: 1px solid #FA0050;
    border-radius: 8px;
    background-color: white;
    color: #FA0050;
}

.lang-selection {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.95rem;
    cursor: pointer;
    color: #333;
}

.lang-selection .fa-chevron-down {
    color: #FA0050;

}

.basket-icon {
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
}

.basket-icon:hover {
    color: #FA0050;
}

/* header end */

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.sec-search-bar {
    display: grid;
    grid-template-columns: repeat(12,
            1fr);
    /* Sütünu 12 eşit parçaya böl her parça 1fr olsun. 12 metre old. düşün 1 er metre ayrıldı. */
    grid-template-rows: auto;
    max-width: 1440px;
    margin: 0;
    padding: 0 10px;
}

.search-bar-content {
    grid-column: 1 / 8;
    /* 1 den 8 nci sütüna kadar alanı kapsa. */
    margin: auto;
    /* Dikey hizalama */
}

.search-bar-img {
    grid-column: 8 / 12;

}

.search-bar-img img {
    height: auto;
    display: block;
    margin: 0 auto;
}

.search-bar-content h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #222;
}

.search-bar-search input {
    grid-column: 1 / 11;
    padding: 10px 15px;
    position: relative;
    border: solid #f9f9f9;
    border-radius: 4px;
}

.search-bar-search {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

.search-bar-search a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: auto;
    color: #fff;
    padding: 15px;
    position: relative;
    margin-left: 10px;
    background-color: #FA0050;
    border-radius: 8px;
}